/* Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparente */
    transition: background-color 0.3s ease;
  }
  .navbar-brand .logo {
    width: 50px;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
    margin-right: 1rem;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #f8c846; /* Dorado */
  }
  
  /* Carousel */
  .carousel-item img {
    height: 100vh;
    object-fit: cover;
  }
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  .carousel-caption h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .carousel-caption p {
    font-size: 1.5rem;
  }
  .carousel-caption strong {
    color: #f8c846;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .carousel-caption h1 {
      font-size: 2rem;
    }
    .carousel-caption p {
      font-size: 1rem;
    }
  }
  /*cambios extras*/
  .carousel-caption strong {
    color: #f8c846;
    position: relative;
    display: inline-block;
}

.carousel-caption strong::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f8c846;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.carousel-caption strong:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Info Section */
.info-section {
    background-color: #f4f4f4; /* Light grey background */
    padding: 50px 0;
}

.info-image {
    max-width: 80%;
    margin-bottom: 20px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.info-text {
    font-size: 1.2rem;
    color: #333;
    text-align: justify;
    line-height: 1.8;
    padding: 0 20px;
}

.info-text strong {
    color: #003DA5; /* Pantone 293 */
    font-weight: bold;
}

.quote-author {
    margin-top: 15px;
    font-size: 1rem;
    font-style: italic;
    color: #007AA5; /* Slightly lighter Pantone 293 */
}

/* Media Queries */
@media (max-width: 768px) {
    .info-text {
        font-size: 1rem;
    }
    .info-image {
        max-width: 100%;
    }
}

